<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="W3School" parallel="tests" thread-count="1">
  
  <test name="Login_firefox">
    <parameter name="browser" value="firefox"/>  
    <classes>
      <class name="W3School.Login"/>
    </classes>
  </test>
     
</suite> 
